In [1]:
import numpy as np
import pandas as pd
import os

In [5]:
IMAGE_DIR = 'sun'

contents = os.listdir(IMAGE_DIR)
filenames = pd.DataFrame(contents)
filenames

                            0
0                contents.txt
1   katkam-20160605190000.jpg
2   katkam-20160605200000.jpg
3   katkam-20160605210000.jpg
4   katkam-20160610190000.jpg
5   katkam-20160610200000.jpg
6   katkam-20160613200000.jpg
7   katkam-20160615180000.jpg
8   katkam-20160615190000.jpg
9   katkam-20160615200000.jpg
10  katkam-20160629180000.jpg
11  katkam-20160629190000.jpg
12  katkam-20160629200000.jpg
13  katkam-20160630090000.jpg
14  katkam-20160630180000.jpg
15  katkam-20160630190000.jpg
16  katkam-20160630200000.jpg
17  katkam-20160702200000.jpg
18  katkam-20160713180000.jpg
19  katkam-20160713190000.jpg
20  katkam-20160713200000.jpg
21  katkam-20160714160000.jpg
22  katkam-20160714200000.jpg
23  katkam-20160715070000.jpg
24  katkam-20160715080000.jpg
25  katkam-20160719190000.jpg
26  katkam-20160720180000.jpg
27  katkam-20160720190000.jpg
28  katkam-20160720200000.jpg